<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIy8CCwiFTTA_BEdl0Xaqu507SrfcXSn4</string>
	<key>GCM_SENDER_ID</key>
	<string>619638299040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.mhuynh.Pokket</string>
	<key>PROJECT_ID</key>
	<string>pocket-dd993</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-dd993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619638299040:ios:5c1189cedc5b317a836cc5</string>
</dict>
</plist>